@import "tailwindcss";

@font-face {
  font-family: "BetterSaturday";
  src: url("/assets/fonts/bettersaturday-webfont.woff2") format("woff2"),
       url("/assets/fonts/bettersaturday-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@theme {
    --color-secondary: #fed81f;
    --color-third: #f7c25e;
    --color-b-1: #333333;
    --color-b-2: #212529;
    --color-w-1: #EEEEEE;
    --font-s: "BetterSaturday", sans-serif;
}

@layer utilities {
  .font-betterSaturday {
    font-family: var(--font-s);
  }
}
