@import "tailwindcss";

@theme{
        --color-secondary:#fed81f;
        --color-third:#f7c25e;
        --color-b-1:#333333;
        --color-b-2:#212529;
        --color-w-1:#EEEEEE;
}


/* PADDING - 72 */