@import "tailwindcss";

@font-face {
  font-family: "BetterSaturday";
  src: url("/assets/fonts/bettersaturday-webfont.woff2") format("woff2"),
       url("/assets/fonts/bettersaturday-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@theme {
    --color-secondary: #fed81f;
    --color-third: #f7c25e;
    --color-b-1: #333333;
    --color-b-2: #212529;
    --color-w-1: #EEEEEE;
    --color-w-2:#F9F9F9;
    --font-s: "BetterSaturday", sans-serif;
  }


  /* bg-gradient-to-r from-[#feda75] via-[#fa7e1e] via-[#d62976] via-[#962fbf] to-[#4f5bd5] */
